img{
    width: 150px;
    margin-right: 10px;
}

.cart{
    position: fixed;
    left: 95%;
}

.cart img {
    cursor: pointer;
    width: 50px;
}

.cart_count{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
    z-index: 111;
    left: 60%;
    top: 2%;
    color: #fff;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.list-group{
    cursor: pointer;
}

.buy{
    display: flex;
    justify-content: space-evenly;
}

.star{
    width: 40px;
    cursor: pointer;
}

.auth_block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.auth_block img {
    width: auto;
}

.auth_block h3 {
    font-size: 20px;
}

.form-label {
    font-size: 30px;
}



@media only screen and (max-width: 768px){
    .cart{
        z-index: 111;
        left: 80%;
    }
    img{
        width: 90px;
    }

    .modal .modal_content{
        width: 160%;
    }


}

