img{
    width: 150px;
    margin-right: 10px;
}

.cart{
    position: fixed;
    left: 95%;
}

.cart img {
    cursor: pointer;
    width: 50px;
}

.cart_count{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 100%;
    z-index: 111;
    left: 60%;
    top: 2%;
    color: #fff;
    text-align: center;
}

.modal{
    left: -8%;
}

.modal-content{
    width: 150%;
}


.list-group{
    cursor: pointer;
}

.buy{
    display: flex;
    justify-content: space-evenly;
}

.star{
    width: 40px;
    cursor: pointer;
}

.auth_block{
    margin-left: auto;
    cursor: pointer;
}

.auth_block img {
    width: auto;
}




.form-label {
    font-size: 30px;
}



.loader {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}
.loader .loader_inner {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}
@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}
.loader .loader_inner:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
}
@keyframes animate2 {
    0% {
        box-shadow: inset #b3dfd8 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #b3dfd8 0 0 0 2px;
    }
    100% {
        box-shadow: inset #b3dfd8 0 0 0 17px;
        transform: rotate(140deg);
    }
}



@media only screen and (max-width: 768px){
    .cart{
        z-index: 111;
        left: 80%;
    }
    img{
        width: 90px;
    }

    .modal .modal_content{
        width: 160%;
    }


}

